<app-home-list></app-home-list>


<div class="section layout_padding" style="background-image: url('../../../../../assets/images/industries_electronics.jpg');    background-size: 100%;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full center">
          <div class="heading_main text_align_center">
            <h2 style="color:white">Welcome To Ebascoiiot</h2>
            <p class="large" style="text-align: center;color: white;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, ipsa veniam minus delectus praesentium dicta porro excepturi dolore, error voluptate enim nesciunt? Nobis consequatur recusandae quisquam quas expedita a sint!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-homeProducts></app-homeProducts>