<header class="top-header" style="height: 75px;">
  <nav class="navbar header-nav navbar-expand-lg" style="float: left;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
        aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar-wd" style="    margin-left: 75px;
          margin-top: 13px;">
        <ul class="navbar-nav">
          <li><a class="nav-link" routerLink="/" routerLinkActive="active" style="color: #fff;">Home</a></li>
          <li><a class="nav-link" routerLink="/dashboard/home/subCategory" style="color: #fff;" routerLinkActive="active">Sub Category</a></li>
          <li><a class="nav-link" routerLink="/dashboard/home/addProducts" style="color: #fff;" routerLinkActive="active">Products</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>