<app-home-list ></app-home-list>

<div class="innerpage_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Contact Us</h2>
      </div>
    </div>
  </div>
</div>


	<!-- section -->
	<div id="contact" class="contact-box">
		<div class="container">
			<div class="row">				
				<!-- <h3 style="text-align: center;">Note: Please do NOT use this form to send job applications. Please use our ‘Careers‘ page and Contact HR Department through Email for applications for employment.</h3><br>
				<h3 style="text-align: center;">Calls from Outside Oman / International Calls please call us on our Skype number listed on the career page.</h3> -->
				<div class="col-lg-7 col-sm-7 col-xs-12" style="margin-top: 30px">
				  <div class="contact-block">
					<form id="contactForm" action="mailer/index.php">
					  <div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
								<div class="help-block with-errors"></div>
							</div>                                 
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" placeholder="Your Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" placeholder="Your number" id="phoneNumber" class="form-control" name="phoneNumber" required data-error="Please enter your number">
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group"> 
								<textarea class="form-control" id="message" placeholder="Your Message" name="message" rows="8" data-error="Write your message" required></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="submit-button text-center">
								<button class="btn btn-common" id="submit" type="submit">Send Message</button>
								<div id="msgSubmit" class="h3 text-center hidden"></div> 
								<div class="clearfix"></div> 
							</div>
						</div>
					  </div>            
					</form>
				  </div>
				</div>


				<div class="col-lg-5 col-sm-5 col-xs-12" style="margin-top: 30px">
					<div class="left-contact">
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-location-arrow" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Head Office</h4>
								ebascoiiot
								xyz<br>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Email</h4>
								<a href="mailto:hr@ebascoiiot.com/.com">hr@ebascoiiot.com/.com</a><br>
								<a href="mailto:career@ebascoiiot.com/.com">career@ebascoiiot.com/.com</a>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Phone Number</h4>
								<p><a href="tel:+987654321">+987654321 (Calls only)</a></p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="container-fluid" style="padding: 0px">
			<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15260.89007653531!2d54.0989851!3d17.0127519!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc2a88f18e85d0b56!2sAl%20Zahra%20Al%20Gafar%20International%20LLC!5e0!3m2!1sen!2sin!4v1606826231802!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
		</div>
	</div>
	<!-- end section -->